<div class="list">
    <h2 style="margin:0 auto; margin-bottom: 1rem;">Список животных</h2>
    <% lists.map(item => {%>
    <form action="update/<%= item.id %>" class="form" method="post" role="form">
        <input class="inputs" type="text" name="name" value="<%= item.data.name %>">
        <input class="inputs" type="text" name="date" value="<%= item.data.date %>">
        <input class="inputs" type="text" name="subname" value="<%= item.data.subname %>">
        <input class="inputs" type="text" name="phone" value="<%= item.data.phone %>">
        <input class="inputs" type="text" name="types" value="<%= item.data.type %>">

        <button class="btn" style="margin-left: 5px;" type="submit">edit</button>
        <a class="btn" style="margin-left: 5px;" href="delete/<%= item.id %>">del</a>
        <a class="btn" style="margin-left: 5px;" href="print/<%= item.id %>">print</a>
    </form>
    <% }) %>
</div>
